name: Release to PyPI

on:
  pull_request:
    types: [closed]
    branches:
      - main

jobs:
  build-and-publish:
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'dev'
    name: Publish package
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish --token ${{ secrets.PYPI_POST_ANALYSIS_CLUSTERING_TOKEN }}
